/* my first css*/ 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffcc;

}

img {
    border: 10px solid green;
}

h1 {
    border: 5px dotted red;
    color: white;
    background-color: black;
    text-align: center;
}
h2,h3 {
    color:orange;
}

#myid {
    color:#6D597A;
    font-weight: bold;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
    font-weight: bold;
}
p {
    color: red;
}
.bigbold {
    font-weight: bold;
    font-size: 2rem;
}

ul a:link {
    font-weight:bold;
    text-decoration: none;
    color: lightblue;
}
a:visited {
    color:green;
    font-size: 2rem;
    font-weight: normal;
}

a:hover { 
    color:orange;
    background-color: black;
    text-decoration: underline;
}

a.harvard:link {
    color: maroon;
}
